.filterContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin: 1.5rem 0;
  }
  
  .badge {
    padding: 0.4rem 1rem;
    border-radius: 999px;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    text-transform: capitalize;
    background-color: #444;
    color: white;
    transition: 0.2s;
  }
  
  .badge:hover {
    background-color: #666;
  }
  
  .active {
    background-color: #c62828;
  }
  

/* Type-specific colors */
.normal { background-color: #bba66e; color: #000; }
.fighting { background-color: #6d4c41; }
.flying { background-color: #757575; }
.poison { background-color: #8e44ad; }
.ground { background-color: #a1887f; }
.rock { background-color: #616161; }
.bug { background-color: #81c784; color: #000; }
.ghost { background-color: #f5f5f5; color: #000; }
.steel { background-color: #90a4ae; color: #000; }
.fire { background-color: #e57373; color: #000; }
.water { background-color: #64b5f6; }
.grass { background-color: #aed581; color: #000; }
.electric { background-color: #ffeb3b; color: #000; }
.psychic { background-color: #ba68c8; }
.ice { background-color: #81d4fa; color: #000; }
.dragon { background-color: #c62828; }
.dark { background-color: #424242; }
.fairy { background-color: #ce93d8; color: #000; }
.stellar { background-color: #757575; }
